<% if !@change_request.closed? %>
<span>
  <div class="dropdown" style="display: inline;">
    <button class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown">Next Action<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% if @change_request.submitted? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#ScheduleModalLabel">
          Schedule Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#RejectModalLabel">
          Reject Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% elsif @change_request.scheduled? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#DeployModalLabel">
          Deploy Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#RollbackModalLabel">
          Rollback Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#CancelModalLabel">
          Cancel Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% elsif @change_request.deployed? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#RollbackModalLabel">
          Rollback Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% elsif @change_request.rollbacked? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% elsif @change_request.cancelled? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#SubmitModalLabel">
          Submit Change Request
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% elsif @change_request.rejected? %>
      <li>
        <a href="#" data-toggle="modal" data-target="#CloseModalLabel">
          Close Change Request
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</span>
<% else %>
<% end %>
