<script>
	$(document).on('ready page:load', function () {
		tinymce.remove();
		tinymce.init({selector:'tinymce'});
	}
</script>
<section class="content-header">
  <h1>
  Change Request 
   
  </h1>
</section>
<section class="content">
	<%= render 'form' %>
</section>

