<h1 class="page-header">New Change Request</h1>

  <div class="panel panel-default">
              <div class="panel-heading"> Change Requests </div>
              <div class="panel-body">
<p>
</p>
<%= render 'form' %>

<%= link_to 'Back', change_requests_path %>
</div>
</div>