
<section class="content-header">
  <div class="clearfix">
    <div class="pull-left">
  	  <h1>
        Change Request
        <% if !@change_request.reference_cr_id.nil? %>
          - Reference to <%= link_to "Change Request ##{@change_request.reference_cr_id}", ChangeRequest.find(@change_request.reference_cr_id)%>
        <% end %>
      </h1>
    </div>
  <div class="clearfix">
  </div>
</section>
<section class="content">
    <%if session[:first_time] %>
      <div class="alert alert-info alert-dismissible" id="draft-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">x</button>
        <strong>Save CR as Draft!</strong> Now you can save this CR as draft by simply leaving out important fields marked with *
      </div>
    <% end %>
    <%= render 'form' %>
</section>
