<!DOCTYPE html>
<html>
<body>
<h1>Vision
</h1>
<p>
New CAB Meeting has been arranged<br>
Date : <%= @date %> <br>
Room : <%= @room %> <br>
Notes : <%=raw  @notes %><br>
List of Change Requests :
<ul>
<% @change_requests.each do |change_request| %>
	<li><%= change_request.change_summary %></li>
<% end %>
</ul>
</p>
</body>
</html>