<script type="text/javascript">
$(function(){
  $('.datetimepicker').datetimepicker({
    format: "yyyy-mm-dd"
  });
});
 </script>
<section class="content-header">
  <h1>
    Incident Report
    </h1>
</section>
<section class="content">
    <div class="row">
        <%= render 'form' %>
    </div>
</section>
                
                <!-- /.row -->
