<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Edit form</h3>
              </div><!-- /.box-header -->
            <%= render 'registrationform' %>
            </div><!-- /box -->
        </div><!-- /col -->
    </div><!-- /row -->
</section><!-- /content -->