
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Vision, <%= @user.name %></h3>
    <p>
      Your request to access Vision has been granted.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>