
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @user.name %></h3>
    <p>
      Sorry to inform, but your request to access Vision is rejected.<br>
    </p>
    <p>If you think you should get access to Vision, please contact ...@email.com</p>
  </body>
</html>