<section class="content-header">
  <div class="clearfix">
    <div class="pull-left">
  	  <h1>
        Edit Access Request
      </h1>
    </div>
  <div class="clearfix">
  </div>
</section>
<section class="content">
    <%= render 'form' %>
</section>
