/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require admin-lte/plugins/select2/select2
 *= require admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min
 *= require admin-lte
 *= require admin-lte/dist/css/skins/skin-blue
 *= require fullcalendar
 *= require nprogress
 *= require nprogress-bootstrap
 *= require bootstrap-social/bootstrap-social
 *= require bootstrap-toggle
 *= require jquery.atwho
 *= require_tree .
 *= require_self

 */
#nprogress .spinner-icon{
	border-top-color:#fff !important;
	border-left-color:#fff !important;
}

#nprogress .spinner{
	padding: 5px;
	background-color: #367fa9;
	left:10px;
	right: initial !important;

}

.spinner {
	margin-top: -2px !important;
	padding-right: 2px !important;
}
.modal {
z-index: 200000;
}
#nprogress .bar {
  background: #fff !important;
}

.keywords-search{
	color: DarkGreen

}

.hide-unhide-comment {
	visibility: hidden;
}

.show-comment:hover {
	cursor: pointer;
	color: grey;
}

.clearfix:hover .hide-unhide-comment {
	visibility: visible;
}

.clearfix p {
	margin: 0;
}

.cr-title-link {
	text-decoration: none;
	color: #333;
}

.cr-title-link:hover {
	text-decoration: none;
	color: #333;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.control-sidebar {
	width: 320px;
	right: -320px;
}

.well * {
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
	hyphens: auto;
}

.table tbody td * {
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
	hyphens: auto;
}

p.comment {
	white-space: pre-wrap;
}

div.field > div.field {
  margin-left: 15px;
}

.inherit-font-weight {
  font-weight: inherit;
}
