.main-header {
	position: fixed !important;
	z-index: 3000 !important;
	width: 100% !important;
}

.logo {
	z-index: 2000 !important;
}

.main-sidebar {
	position: fixed !important;
	z-index: 1000 !important;
}

.content-wrapper {
	margin-top: 50px;
}