<h1 class='page-header'>CAB</h1>
<div class='row'>
	<div class='col-lg-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'></div>
			<div class='panel-body'>
				<div id="all-list" class="list-group">
				<% @current_change_requests.each do |change_request| %>
					<div data-id=<%= change_request.id %> class='list-group-item'>
					<h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text"><%= change_request.change_summary %></p>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>